[alias]
	amend = commit --amend

[commit]
	gpgSign = true

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[tag]
	gpgSign = true

[user]
	email = benji.janssens@gmail.com
	name = Benjamin Janssens
	signingKey = ~/.ssh/id_ed25519.pub

{{ if eq .profile "work" -}}
[includeIf "gitdir:~/DPG/"]
	path = ~/DPG/.gitconfig
{{ end -}}
