{{ if eq .profile "personal" -}}
tap "oven-sh/bun"
{{ else -}}
tap "hashicorp/tap"
tap "benjidotsh/tap"
{{ end }}
brew "chezmoi"
brew "direnv"
brew "dockutil"
brew "fileicon"
brew "folderify"
brew "gh"
brew "git-lfs"
brew "herdr"
brew "mas"
brew "starship"
brew "volta"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
{{ if eq .profile "personal" -}}
brew "oven-sh/bun/bun"
brew "watchman"
brew "cocoapods"
{{ else -}}
brew "aws-sam-cli"
brew "awscli"
brew "azure-cli"
brew "go"
brew "hashicorp/tap/terraform"
brew "sops"
brew "valkey"
{{ end }}
cask "1password"
cask "1password-cli"
cask "chatgpt"
cask "claude"
cask "claude-code"
cask "copilot-cli"
cask "discord"
cask "font-fira-code-nerd-font"
cask "font-meslo-lg-nerd-font"
cask "ghostty"
cask "monitorcontrol"
cask "spotify"
cask "visual-studio-code"
{{ if eq .profile "personal" -}}
cask "adobe-acrobat-reader"
cask "android-commandlinetools"
cask "android-studio"
cask "autodesk-fusion"
cask "bambu-studio"
cask "beid-token"
cask "iina"
cask "openscad@snapshot"
cask "orbstack"
cask "steam"
cask "stremio"
cask "zulu@17"
{{ else -}}
cask "benjidotsh/tap/cloud-app"
cask "dbeaver-community"
cask "docker-desktop"
cask "helium-browser"
cask "httpie-desktop"
cask "leapp"
cask "nosql-workbench"
cask "postgres-app"
cask "session-manager-plugin"
{{ end }}
mas "The Unarchiver", id: 425424353
mas "Boop", id: 1518425043
mas "Xcode", id: 497799835
{{ if eq .profile "personal" -}}
mas "1Password for Safari", id: 1569813296
{{ else -}}
mas "Slack", id: 803453959
mas "Hidden Bar", id: 1452453066
{{ end }}
vscode "anthropic.claude-code"
vscode "bierner.markdown-mermaid"
vscode "catppuccin.catppuccin-vsc"
vscode "catppuccin.catppuccin-vsc-icons"
vscode "dbaeumer.vscode-eslint"
vscode "eamodio.gitlens"
vscode "esbenp.prettier-vscode"
vscode "github.copilot-chat"
vscode "openai.chatgpt"
{{ if eq .profile "personal" -}}
vscode "antyos.openscad"
vscode "bradlc.vscode-tailwindcss"
vscode "platformio.platformio-ide"
vscode "prisma.prisma"
{{ else -}}
vscode "golang.go"
vscode "hashicorp.terraform"
{{ end -}}
