#!/bin/sh
set -eu

icons_dir={{ joinPath .chezmoi.workingTree "icons" | quote }}

set_icon() {
  target=$1
  icon=$2

  if [ -e "$target" ]; then
    /opt/homebrew/bin/fileicon set "$target" "$icon"
  fi
}

{{ range $target, $icon := .icons -}}
set_icon {{ $target | quote }} "$icons_dir/{{ $icon }}"
{{ end -}}
