#!/bin/sh
set -eu

{{ range $domain, $keys := .system -}}
{{ range $key, $value := $keys -}}
{{ $type := get (dict "bool" "bool" "int64" "int" "float64" "float" "string" "string") (kindOf $value) -}}
{{ if not $type }}{{ fail (printf "unsupported defaults type %s for %s %s" (kindOf $value) $domain $key) }}{{ end -}}
defaults write {{ $domain | quote }} {{ $key | quote }} -{{ $type }} {{ $value | quote }}
{{ end -}}
{{ end -}}
