#!/bin/sh
set -eu

dockutil=/opt/homebrew/bin/dockutil

"$dockutil" --remove all --no-restart
{{ range index .dock .profile -}}
"$dockutil" --add {{ . | quote }} --no-restart
{{ end -}}
"$dockutil" --add "$HOME/Downloads" --display folder --no-restart
/usr/bin/killall Dock
