#!/bin/sh
set -eu

brew=/opt/homebrew/bin/brew

{{ $extra := index .packages .profile -}}
{{ range concat .packages.common.taps $extra.taps -}}
"$brew" trust --tap "{{ . }}"
{{ end -}}
"$brew" update
"$brew" bundle install --upgrade --force-cleanup --zap --global
