#!/bin/sh
set -eu

dockutil=/opt/homebrew/bin/dockutil

"$dockutil" --remove all --no-restart
{{ range .dock.apps -}}
"$dockutil" --add {{ . | quote }} --no-restart
{{ end -}}
{{ range .dock.folders -}}
"$dockutil" --add "{{ . }}" --display folder --no-restart
{{ end -}}
/usr/bin/killall Dock
