#!/bin/sh
set -eu

icons_dir={{ joinPath .chezmoi.workingTree "icons" | quote }}

set_icon() {
  target=$1
  icon=$2

  if [ -e "$target" ]; then
    /opt/homebrew/bin/fileicon set "$target" "$icon"
  fi
}

{{ if eq .profile "personal" -}}
set_icon /Applications/Steam.app "$icons_dir/steam.icns"
set_icon "$HOME/Applications/Stardew Valley.app" "$icons_dir/stardew_valley.icns"
{{ else -}}
set_icon "$HOME/DPG" "$icons_dir/dpg_media.icns"
set_icon "/Applications/NoSQL Workbench.app" "$icons_dir/nosql_workbench.icns"
{{ end -}}
