{{- /* shellcheck treats this sourced environment file as POSIX shell. */ -}}
# shellcheck shell=sh
{{ if eq .profile "work" -}}
{{- $artifactory := onepasswordRead "op://Nix/Secrets/Artifactory" | trim -}}
export GH_TOKEN={{ onepasswordRead "op://Nix/Secrets/GitHub DPG Media" | trim | shellQuote }}
export ARTIFACTORY_API_KEY={{ $artifactory | shellQuote }}
export GOPROXY={{ printf "https://bejanssens:%s@artifactory.persgroep.cloud/artifactory/api/go/go,https://proxy.golang.org,direct" $artifactory | shellQuote }}
{{ else -}}
export GH_TOKEN={{ onepasswordRead "op://Nix/Secrets/GitHub" | trim | shellQuote }}
{{ end -}}
