{{ if eq .profile "work" -}}
{{- $artifactory := onepasswordRead "op://dotfiles/Secrets/Artifactory" -}}
set -gx GH_TOKEN "$(printf %s {{ onepasswordRead "op://dotfiles/Secrets/GitHub DPG Media" | b64enc }} | /usr/bin/base64 -D)"
set -gx ARTIFACTORY_API_KEY "$(printf %s {{ $artifactory | b64enc }} | /usr/bin/base64 -D)"
set -gx GOPROXY "$(printf %s {{ printf "https://bejanssens:%s@artifactory.persgroep.cloud/artifactory/api/go/go,https://proxy.golang.org,direct" $artifactory | b64enc }} | /usr/bin/base64 -D)"
{{ else -}}
set -gx GH_TOKEN "$(printf %s {{ onepasswordRead "op://dotfiles/Secrets/GitHub" | b64enc }} | /usr/bin/base64 -D)"
{{ end -}}
